@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* ===== Colors ===== */
  --primary-color: #135796;
  --secondary-color: #05a855;
  --tertiary-color: #fe0000;
  --other-color: #ffaa00;
  --panel-color: #fff;
  --text-color: white;
  --black-light-color: #707070;
  --border-color: #e6e5e5;
  --toggle-color: #ddd;
  --box1-color: rgb(77, 163, 255);
  --box2-color: #ffe6ac;
  --box3-color: #e7d1fc;
  --title-icon-color: #fff;

  /* ====== Transition ====== */
  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-03: all 0.2s ease;
}

body {
  min-height: 100vh;
  /* background-color: var(--primary-color); */
}
body.dark {
  --primary-color: #3a3b3c;
  --panel-color: #242526;
  --text-color: #ccc;
  --black-light-color: #ccc;
  --border-color: #4d4c4c;
  --toggle-color: #fff;
  --box1-color: #3a3b3c;
  --box2-color: #3a3b3c;
  --box3-color: #3a3b3c;
  --title-icon-color: #ccc;
}

/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 12px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #0b3cc1;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover {
  background: #3a3b3c;
}

.text-heading {
  color: grey;
  font-size: 24px;
  font-weight: 500;
  margin-left: 10px;
}

/* Navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background-color: var(--panel-color);
  border-right: 1px solid var(--border-color);
  transition: var(--tran-05);
}

nav.close {
  width: 73px;
}
nav .logo-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav .logo-image {
  display: flex;
  justify-content: center;
  min-width: 45px;
}
nav .logo-image img {
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

nav .logo-name {
  font-size: 22px;
  font-weight: 600;
  color: var(--text-color);
  margin-left: 14px;
  transition: var(--tran-05);
}

nav .logo_name {
  padding: 1rem 0;
  text-align: center;
  color: black;
}

nav .logo-image {
  background: url("/Images/UNZA logo.png");
  background-size: cover;
  margin-left: -10px;
  width: 2rem;
  height: 4rem;
}
nav.close .logo_name {
  opacity: 0;
  pointer-events: none;
}
nav .menu-items {
  margin-top: 40px;
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-items li {
  list-style: none;
}
.menu-items li a {
  display: flex;
  align-items: center;
  height: 50px;
  text-decoration: none;
  position: relative;
}
.nav-links li a:hover:before {
  content: "";
  position: absolute;
  left: -7px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: var(--primary-color);
}
body.dark li a:hover:before {
  background-color: var(--text-color);
}
.menu-items li a i {
  font-size: 24px;
  min-width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black-light-color);
}
.menu-items li a .link-name {
  font-size: 18px;
  font-weight: 400;
  color: var(--black-light-color);
  transition: var(--tran-05);
}
nav.close li a .link-name {
  opacity: 0;
  pointer-events: none;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name {
  color: var(--primary-color);
}
body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name {
  color: var(--text-color);
}
.menu-items .logout-mode {
  padding-top: 10px;
  border-top: 1px solid var(--border-color);
}
.menu-items .mode {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.menu-items .mode-toggle {
  position: absolute;
  right: 14px;
  height: 50px;
  min-width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.mode-toggle .switch {
  position: relative;
  display: inline-block;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
}
.switch:before {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
  background-color: var(--panel-color);
  border-radius: 50%;
  transition: var(--tran-03);
}
body.dark .switch:before {
  left: 20px;
}

/* Dashboard */
.dashboard {
  position: relative;
  left: 250px;
  background-color: var(--panel-color);
  /* min-height: 50vh; */
  width: calc(100% - 250px);
  padding: 10px 14px;
  transition: var(--tran-05);
}

nav.close ~ .dashboard {
  left: 73px;
  width: calc(100% - 73px);
}
.dashboard .top {
  position: fixed;
  top: 0;
  left: 250px;
  display: flex;
  width: calc(100% - 250px);
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px 10px;
  background-color: #fff;
  transition: var(--tran-05);
  z-index: 10;
}
nav.close ~ .dashboard .top {
  left: 73px;
  width: calc(100% - 73px);
}
.dashboard .top .sidebar-toggle {
  font-size: 26px;
  color: gray;
  cursor: pointer;
}
.dashboard .top .search-box {
  position: relative;
  height: 45px;
  max-width: 600px;
  width: 100%;
  margin: 0 30px;
  color: var(--text-color);
}
.top .search-box input {
  position: absolute;
  border: 2px solid var(--black-light-color);
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0 25px 0 50px;
  border-radius: 5px;
  height: 100%;
  width: 20rem;
  color: var(--text-color);
  font-size: 15px;
  font-weight: 400;
  transition: 0.3s ease-in-out;
}
.search-box input:focus {
  width: 30rem;
  transition: 0.3s ease-in-out;
  border: 1px solid var(--secondary-color);
  color: var(--black-light-color);
  outline: 1px solid var(--secondary-color);
  background-color: white;
}
.search-box input:hover {
  background-color: white;
}
.top .search-box i {
  position: absolute;
  left: 15px;
  font-size: 22px;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  color: var(--other-color);
}
.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
.top img {
  width: 40px;
  border-radius: 50%;
}

/* Responsiveness */
@media (max-width: 1000px) {
  nav {
    width: 73px;
  }
  nav.close {
    width: 250px;
  }

  nav .logo-image {
    width: 2rem;
    height: 4rem;
    margin-left: -10px;
  }
  nav .logo_name {
    opacity: 0;
    pointer-events: none;
  }
  nav.close .logo_name {
    opacity: 1;
    pointer-events: auto;
  }
  nav li a .link-name {
    opacity: 0;
    pointer-events: none;
  }
  nav.close li a .link-name {
    opacity: 1;
    pointer-events: auto;
  }
  nav ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
  }
  nav.close ~ .dashboard {
    left: 250px;
    width: calc(100% - 250px);
  }
  nav ~ .dashboard .top {
    left: 73px;
    width: calc(100% - 73px);
  }
  nav.close ~ .dashboard .top {
    left: 250px;
    width: calc(100% - 250px);
  }
  .activity .activity-data {
    overflow-x: scroll;
  }
}

@media (max-width: 780px) {
  body {
    color: black;
  }
  .dash-content .boxes .box {
    margin-top: 15px;
  }

  .boxes {
    display: grid;
    flex-direction: column;
  }

  .input [type="text"] {
    width: 100px;
  }
}

@media (max-width: 560px) {
  .dash-content .boxes .box {
    width: 100%;
  }
}
@media (max-width: 400px) {
  nav {
    width: 0px;
  }
  nav.close {
    width: 73px;
  }

  .logo-image {
    margin-top: 60px;
  }
  nav .logo_name {
    opacity: 0;
    pointer-events: none;
  }
  nav.close .logo_name {
    opacity: 0;
    pointer-events: none;
  }
  nav li a .link-name {
    opacity: 0;
    pointer-events: none;
  }
  nav.close li a .link-name {
    opacity: 0;
    pointer-events: none;
  }
  nav ~ .dashboard {
    left: 0;
    width: 100%;
  }
  nav.close ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
  }
  nav ~ .dashboard .top {
    left: 0;
    width: 100%;
  }
  nav.close ~ .dashboard .top {
    left: 0;
    width: 100%;
  }
}

/* Profile */
.profile {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  text-align: center;
}

.profile-tab {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem 2rem;
  display: grid;
  background-color: rgba(254, 0, 0, 0.2);
  padding: 15px 30px;
  border-radius: 12px;
}

.profile-tab input {
  border-radius: 5px;
  padding: 10px;
  outline: none;
  border: none;
  width: 300px;
}
.profile-tab input:hover {
  outline: 2px solid var(--tertiary-color);
}
.profile-tab input:focus {
  outline: 2px solid var(--tertiary-color);
}
.profile-tab label {
  padding: 2rem 2rem;
}

label {
  margin-bottom: -5rem;
}

.change-profile {
  margin: 20px 0px;
  background-color: var(--tertiary-color);
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 12px 12px;
  border-radius: 24px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}
.change-profile:hover {
  background-color: rgba(230, 0, 0);

  padding: 13px 12px;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 768px) and (min-width: 481px) {
}
@media screen and (max-width: 480px) {
  .profile {
    display: flex;
    flex-direction: column;
  }

  .profile-tab {
    width: 300px;
    height: 750px;
    margin-left: -5px;
    margin-bottom: 2rem;
  }

  .change-profile {
    margin-top: 2rem;
    height: 3rem;
    font-size: 1rem;
  }

  .profile-tab input {
    height: 40px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .profile-tab {
    margin-left: 1rem;
    margin-top: -2rem;
  }
}
@media screen and (min-width: 1025px) {
  .profile-tab {
    width: 500px;
    height: 750px;
  }

  .change-profile {
    margin-top: 2rem;
    height: 3rem;
    font-size: 1rem;
  }

  .profile-tab input {
    height: 40px;
  }
}
