:root {
  --primary-color: #135796;
  --secondary-color: #05a855;
  --tertiary-color: #fe0000;
}

/* ************************************************************** */

.activity {
  margin: 2rem 0rem;
}

table {
  margin: 2rem 0rem;
  background: whitesmoke;
}

.table-container div {
  display: flex;
}

table thead {
  color: white;
  background: #05a855;
}
a {
  font-weight: bold;
  font-size: 1.2rem;
}

a:hover {
  color: darkblue;
}

.title {
  display: inline-block;
  display: flex;
  justify-content: space-between;
}

.text-heading {
  margin-left: 2.5rem;
}

.text-heading i {
  text-decoration: none;
  font-weight: 600;
  color: black;
  text-transform: uppercase;
}

.text-heading {
  display: flex;
  justify-content: space-between;
  padding: 0rem 11rem;
}
.text-heading a:hover {
  color: grey;
  font-size: 1rem;
}
.activity-title {
  float: right;
}

.card {
  display: flex;
  padding: 5px 5px;
  background-color: #05a855;
  color: white;
  cursor: pointer;
  box-shadow: 1px 1px 3px #999;
}

.ana-table {
  width: 80%;
}
.usertable {
  width: 20%;
}
.ana-table td {
  text-align: center;
  padding: 1rem 0;
}

.ana-table th {
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: default;
}

.usertable th {
  padding: 0.95rem;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: default;
}

.usertable tr td {
  margin-top: 10px;
}

.usertable tr {
  display: flex;
  justify-content: center;
}
table tr {
  vertical-align: top;
}
table tr td {
  vertical-align: top;
}
button {
  background-color: #05a855;
  position: absolute;
  margin: 0rem 0.2rem;
  cursor: pointer;
  transition: ease-in-out 0.4s;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  padding: 1rem 1rem;
  border-radius: 50px;
  letter-spacing: 2px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(5, 130, 85);
}
button:focus {
  border: 5px solid darkgreen;
  padding: 1rem 1.4rem;
}
.content {
  display: none;
  display: inline;
  overflow: hidden;
}
.content i {
  float: right;
  margin-top: 1rem;
  padding-left: 2rem;
  margin-right: 10px;
  color: grey;
}

.month-input {
  border: 1px solid #ffaa00;
  border-radius: 12px;
  text-align: center;
  height: 25px;
}
.month-input:focus {
  border: 2px solid #ffaa00;
  outline: none;
}
.month-input:hover {
  background-color: rgb(128, 150, 128, 0.1);
  outline: none;
}
.collapsible {
  cursor: pointer;
  transition: ease-in-out 0.4s;
}

.title i {
  margin-top: 10px;
  margin-left: -1px;
  user-select: none;
}

.box1 div {
  font-size: 1.2rem;
}

.box-wrapper {
  display: flex;
  justify-content: space-around;
}

.box-wrapper div {
  margin: 20px;
}

.box1 {
  border-radius: 12px 12px;
  background-color: var(--tertiary-color);
  width: 400px;
  padding: 1rem;
  text-align: center;
  color: white;
}
.daily-h1 {
  border-bottom: 2px white solid;
  padding-bottom: 10px;
}

/* Boxes */
.box1 div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box-title {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  font-size: 1rem;
}
.box-title h1 {
  grid-template-columns: 1fr 1fr;
  font-size: 1rem;
}

.box2 {
  border-radius: 12px 12px;
  background-color: var(--primary-color);
  padding: 1rem;
  width: 400px;
  text-align: center;
  color: white;
}
.box2 div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box2-title {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box3 {
  border-radius: 12px 12px;
  background-color: var(--secondary-color);
  padding: 1rem;
  width: 400px;
  text-align: center;
  color: white;
}
.box3 div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.box3-title {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 1025px) {
  .user-face img {
    width: 120px;
    height: 120px;
    margin-left: 10px;
  }

  .ldBar-label {
    padding-top: 20px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .box-wrapper {
    margin-left: -200px;
    display: grid;
  }
  .reload-btn {
    display: none;
  }
  .box-wrapper div {
    margin: 1rem;
  }
  .user-face img {
    width: 120px;
    height: 120px;
    margin-left: 10px;
  }
  .title {
    text-align: justify;
  }

  button {
    background-color: #05a855;
    cursor: pointer;
    transition: ease-in-out 0.4s;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
    border: none;
    padding: 1rem 1.4rem;
    border-radius: 50px;
    letter-spacing: 2px;
    cursor: pointer;
    display: flex;
    margin-top: 0.2rem;
  }

  .collapsible {
    width: 90px;
    margin-right: 10rem;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .content {
    display: flex;
  }
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  .box-wrapper {
    margin-left: -200px;
    display: grid;
  }
  .reload-btn {
    display: none;
  }
  .box-wrapper div {
    margin: 1rem;
  }
  .user-face img {
    width: 120px;
    height: 120px;
    margin-left: 10px;
  }

  .ldBar-label {
    padding-top: 25px;
  }

  .user-mask figure {
    width: 200px;
  }
  .user-hands figure {
    width: 200px;
  }
  .title {
    text-align: justify;
  }

  button {
    background-color: #05a855;
    cursor: pointer;
    transition: ease-in-out 0.4s;
    text-align: center;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
    border: none;
    padding: 1rem 2rem;
    border-radius: 50px;
    letter-spacing: 2px;
    cursor: pointer;
    display: flex;

    margin-top: 0.2rem;
  }

  button:nth-child(1) {
    margin-left: 10px;
  }
  button:nth-child(2) {
    margin-left: 5px;
  }
  button:nth-child(3) {
    margin-left: 5px;
  }
  button:nth-child(4) {
    margin-left: 5px;
  }

  .dashboard {
    margin-left: -70px;
  }
  .collapsible {
    width: 90px;
    margin-right: 10rem;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .content {
    display: flex;
  }
}

@media screen and (max-width: 480px) {
  .box-wrapper {
    margin-left: -200px;
    display: grid;
  }

  .box-wrapper div {
    margin: 1rem;
  }
  .title {
    text-align: justify;
  }

  button {
    display: none;
  }

  .dashboard {
    margin-left: -70px;
  }

  .content i {
    display: flex;
    margin-left: -30px;
  }

  .collapsible {
    width: 90px;
    margin-right: 10rem;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .usertable th {
    padding: 1.8rem;
  }

  .usertable td {
    height: 200px;
    padding: 2rem 0.5rem;
  }

  .reload-btn {
    display: none;
  }
}
